
.feedWrap {
	position: relative;
	min-height: 400px;
}
.article {
	border: solid 1px #ccc;
}
.bg-overlay {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
}
.bg-overlay-content {
	position: fixed;
	z-index: 11;
	overflow: scroll;
	left: 50%;
	top: 20%;
	width: 80%;
	height: 400px;
	margin-left: -40%;
	background: #fff;
	padding: 20px;
}


.active {
  color: red;
}
